.delete-button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: inherit;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 5px;
    background-color: #f2f2f2;

}